p {
    font-family: Arial;
    font-size: 1em;
}

.navbar {
    margin-top: 15px;
    background-color: rgba(8, 0, 0, 0.0725) !important;
    border-radius: 5px;
    border-style: 1px solid black;
}

.navbar-brand {
    font-family: Arial;
    font-weight: 100;
    font-size: 2.5em;
    vertical-align: text-top;
}

body {
    background-color: white;
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 1em;
    color: black;
}