/* Base styles */
body {
    background-color: #ffffff;
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: 1rem;
    color: black;
    line-height: 1.6;
    letter-spacing: 0.02em;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.text-center {
    text-align: center;
}

.mt-4 {
    margin-top: 1rem;
}

.mb-4 {
    margin-bottom: 1rem;
}

.truncate-fixed {
    height: 4.5rem; /* Adjust height as needed */
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Navbar styles */
.navbar {
    margin-top: 15px;
    background-color: #ffffff;
    border-radius: 5px;
}

.navbar-brand {
    font-weight: 100;
    font-size: 2rem;
    vertical-align: text-top;
}

p {
    font-family: "Arial", Helvetica, sans-serif;
    /*font-weight: lighter;*/
    font-size: .75rem;
}

.p-responsive-home {
    padding-left: 24px;
    padding-right: 24px;
}

/* Responsive styles for medium screens (544px and above) */
@media (min-width: 544px) {
    .p-responsive-home {
        padding-left: 40px;
        padding-right: 40px;
    }
}

/* Responsive styles for medium screens (768px and above) */
@media (min-width: 768px) {
    .ml-md-n4 {
        margin-left: calc(var(--base-size-24, 24px) * -1);
    }

    .py-md-9 {
        padding-bottom: var(--base-size-80, 80px);
        padding-top: var(--base-size-80, 80px);
    }

    .h3-dgn {
        font-size: 40px;
        line-height: 44px;
    }

    .f3-dsg {
        font-size: 20px;
        line-height: 28px;
    }

    .mb-md-4 {
        margin-bottom: var(--base-size-24, 24px);
    }
}

.h3-dgn {
    font-size: 28px;
    font-weight: 800;
    line-height: 32px;
}

/* Responsive styles for medium screens (1012px and above) */
@media (min-width: 1012px) {
    .h3-dgn {
        font-size: 48px;
        letter-spacing: -0.03em;
        line-height: 52px;
    }
}